{% extends "base.html" %}
{% load static %}


{% block title%}{{post.title}} - {{post.user}}{% endblock title %}




{% block head %}


<style>
    .attachment {
        padding: 10px;
    }

    .attachment h6 {
        text-decoration: underline;
    }

    .attachment:hover {
        background-color: #E0E0E0;
    }
</style>

{% endblock head %}

{% block content %}

<body>






    {% if user_profile.premium == True %}

    {% if text == 'yes' %}
    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <h1 class="mb-2">{{post.title}}</h1>
                        <h6 class="text-primary mb-5"><span
                                style="font-weight: bold; font-size: 20px; text-transform: uppercase;">{{post.subject}}
                                ,</span> {{post.created_at|date:"M d, Y"}} </h6>







                        <video controls="controls" preload="preload" class="w-100">
                            <source src="{{post.video.url}}" type="video/mp4">
                            </source>
                        </video>

                        <div class="video-caption" style="overflow: hidden;">
                            <p class="mt-3">{{post.caption}}</p>



                        </div>

                    </div>


                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <!-- Author Bio -->
                    <div class="d-flex flex-column text-center bg-dark rounded mb-5 py-5 px-4">

                        {% if user_profile.premium == True %}
                        <img src="{{post.teacher_img.url}}" class="img-fluid rounded-circle mx-auto mb-3"
                            style="width: 100px;">
                        {% else %}
                        <img src="{% static 'img/default-profile-image.jpg' %}"
                            class="img-fluid rounded-circle mx-auto mb-3" style="width: 100px;">
                        {% endif %}

                        {% if user_profile.premium == True %}
                        <h3 class="text-primary mb-1" style="text-transform: uppercase;">{{post.teacher_name}}</h3>
                        {% else %}
                        <h3 class="text-primary mb-1" style="text-transform: uppercase;">{{post.user}}</h3>
                        {% endif %}


                        <h3 class="text-secondary mb-1" style="font-size: 18px; text-transform: uppercase;">
                            {{post.subject}}</h3>
                        <!-- <p class="text-white m-0">{{video.user.bio}}</p> -->





                    </div>





                    <div class="mb-5 ">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 2px;">Other</h3>



                        {% if post.attach1_link %}
                        <a class="d-flex align-items-center text-decoration-none mb-3 attachment"  href="{{post.attach1_link}}">
                            {% if post.attach1_type == 'homework' %}
                            <img class="img-fluid" src="{% static 'img/lesson-homework.png' %}"
                                style="width: 100px; height: 100px;">
                            {% endif %}

                            {% if post.attach1_type == 'test' %}
                            <img class="img-fluid" src="{% static 'img/lesson-test.png' %}"
                                style="width: 100px; height: 100px;">
                            {% endif %}

                            {% if post.attach1_type == 'link' %}
                            <img class="img-fluid" src="{% static 'img/lesson-link.png' %}"
                                style="width: 100px; height: 100px;">
                            {% endif %}


                            {% if post.attach1_type == 'homework' %}
                            <div class="pl-3">
                                <h6 class="m-1">Homework Sheet</h6>
                            </div>
                            {% endif %}

                            {% if post.attach1_type == 'test' %}
                            <div class="pl-3">
                                <h6 class="m-1">Test Sheet</h6>
                            </div>
                            {% endif %}

                            {% if post.attach1_type == 'link' %}
                            <div class="pl-3">
                                <h6 class="m-1">Link</h6>
                            </div>
                            {% endif %}

                        </a>
                        {% endif %}





                        {% if post.attach2_link %}
                        <a class="d-flex align-items-center text-decoration-none mb-3 attachment" href="{{post.attach2_link}}">
                            {% if post.attach2_type == 'homework' %}
                            <img class="img-fluid" src="{% static 'img/lesson-homework.png' %}"
                                style="width: 100px; height: 100px;">
                            {% endif %}

                            {% if post.attach2_type == 'test' %}
                            <img class="img-fluid" src="{% static 'img/lesson-test.png' %}"
                                style="width: 100px; height: 100px;">
                            {% endif %}

                            {% if post.attach2_type == 'link' %}
                            <img class="img-fluid" src="{% static 'img/lesson-link.png' %}"
                                style="width: 100px; height: 100px;">
                            {% endif %}


                            {% if post.attach2_type == 'homework' %}
                            <div class="pl-3">
                                <h6 class="m-1">Homework Sheet</h6>
                            </div>
                            {% endif %}

                            {% if post.attach2_type == 'test' %}
                            <div class="pl-3">
                                <h6 class="m-1">Test Sheet</h6>
                            </div>
                            {% endif %}

                            {% if post.attach2_type == 'link' %}
                            <div class="pl-3">
                                <h6 class="m-1">Link</h6>
                            </div>
                            {% endif %}
                        </a>
                        {% endif %}


                        {% if post.attach3_link %}
                        <a class="d-flex align-items-center text-decoration-none mb-3 attachment" href="{{post.attach3_link}}">
                            {% if post.attach3_type == 'homework' %}
                            <img class="img-fluid" src="{% static 'img/lesson-homework.png' %}"
                                style="width: 100px; height: 100px;">
                            {% endif %}

                            {% if post.attach3_type == 'test' %}
                            <img class="img-fluid" src="{% static 'img/lesson-test.png' %}"
                                style="width: 100px; height: 100px;">
                            {% endif %}

                            {% if post.attach3_type == 'link' %}
                            <img class="img-fluid" src="{% static 'img/lesson-link.png' %}"
                                style="width: 100px; height: 100px;">
                            {% endif %}


                            {% if post.attach3_type == 'homework' %}
                            <div class="pl-3">
                                <h6 class="m-1">Homework Sheet</h6>
                            </div>
                            {% endif %}

                            {% if post.attach3_type == 'test' %}
                            <div class="pl-3">
                                <h6 class="m-1">Test Sheet</h6>
                            </div>
                            {% endif %}

                            {% if post.attach3_type == 'link' %}
                            <div class="pl-3">
                                <h6 class="m-1">Link</h6>
                            </div>
                            {% endif %}

                            
                        </a>
                        {% endif %}




                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->
    {% endif %}

    {% if text == 'no' %}



    <!-- Lesson Detail Start -->
    <div class="container-fluid py-5" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="text-center mb-5">
                <!-- <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Lessons</h5> -->
                <!-- <h1 class="">You Must Purchase This Lesson First To View It!</h1> -->
            </div>


            <div class="row" style="padding: 10px;">

                <div class="col-12 col-lg-7">
                    <div class="box text-center"
                        style="background-color: white; margin-bottom: 20px; padding-top: 10px; padding-bottom: 10px;">
                        <div>
                            <h1 class="" style="color: black; font-size: 25px;">{{post.title}}</h1>
                        </div>
                    </div>

                    <div class="box" style="background-color: white; padding: 20px; margin-bottom: 20px;">
                        {% if post.image %}
                        <img class="img-fluid" src="{{post.image.url}}" style="width: 100%;">
                        {% else %}
                        <img class="img-fluid" src="{% static 'img/course-3.jpg' %}" alt="">
                        {% endif %}
                    </div>
                </div>




                <div class="col-12 col-lg-5">

                    <div class="box" style="background-color: white; padding: 15px;">
                        <!-- <div style="margin-bottom: 20px;">
                            <h1 class="" style="color: black; font-size: 23px;"><span
                                    style="border-bottom: 3px #fd771e solid;">Purchase</span></h1>
                        </div> -->

                        <a href="/lessons/{{post.id}}" class="btn btn-success w-100 w-100"
                        style="border-radius: 0; border: 0;">

                        <span style="font-size: 10px;"><i class="fa fa-2x fa-money-bill mr-3"></i></span>Purchase
                    </a>

                    </div>


















                    <div class="box" style="background-color: white; margin-top: 50px; padding: 15px;">
                        <div>
                            <h1 class="" style="color: black; font-size: 23px;"><span
                                    style="border-bottom: 3px #fd771e solid;">Details</span></h1>
                        </div>

                        <div style="margin-top: 40px; margin-bottom: 10px;">
                            <p>
                                <i class="fa-solid fa-money-bill text-primary" style="font-size: 20px;"></i>
                                <span
                                    style="margin-left: 10px; font-size: 18px; color: black; text-transform: capitalize;">Price
                                    : <span style="color: #5b5e5e;">{{post.price}} EGP</span></span>
                            </p>
                        </div>

                        <div style="margin-top: 20px; margin-bottom: 10px;">
                            <p>
                                <i class="fa-solid fa-calendar-days text-primary" style="font-size: 20px;"></i>
                                <span
                                    style="margin-left: 10px; font-size: 18px; color: black; text-transform: capitalize;">Date
                                    : <span style="color: #5b5e5e;">{{post.created_at|date:"SHORT_DATE_FORMAT"}}
                                    </span></span>
                            </p>
                        </div>




                    </div>

                </div>













            </div>
        </div>
    </div>
    <!-- Lesson Detail End -->



    <!-- Old Start -->



    <!-- <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">

                <h1 class="">You Must Purchase This Lesson First To View It!</h1>
            </div>
            <div class="row justify-content-center">




                <div class="col-lg-6 col-md-6 mb-4" style="position: relative;">
                    <div class="rounded overflow-hidden mb-2">
                        {% if post.image %}
                        <img class="img-fluid" src="{{post.image.url}}">
                        {% else %}
                        <img class="img-fluid" src="{% static 'img/course-3.jpg' %}" alt="">
                        {% endif %}

                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0" style="text-transform: uppercase;">

                                    {% if post.teacher_img %}
                                    <img src="{{post.teacher_img.url}}" class="rounded-circle "
                                        style="width:40px; border-radius: 10px; max-height: 50px; margin-right: 5px;"
                                        alt="">
                                    {% else %}
                                    <img src="{% static 'img/default-profile-image.jpg' %}" class="rounded-circle "
                                        style="width:40px; border-radius: 10px; max-height: 50px; margin-right: 5px;"
                                        alt="">
                                    <img src="">
                                    {% endif %}



                                    {{post.teacher_name}}
                                </small>
                                <span class="m-0" style="text-decoration: none;">
                                    <a href="/like-post?post_id={{post.id}}" style="text-decoration: none;">
                                        <i class="far fa-thumbs-up text-primary mr-2"
                                            style="font-size: 22px; text-decoration: none;"></i>({{post.no_of_likes}})
                                    </a>
                                </span>



                            </div>
                            <span class="h5" href="/lessons/{{post.slug}}">{{post.title}}</span>

                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i
                                            class="fa fa-clock text-primary mr-2"></i>{{post.created_at|date:"SHORT_DATE_FORMAT"}}
                                    </h6>
                                    <h6 class="m-0"><i class="fa fa-money-bill text-primary mr-2"
                                            style="font-size: 25px;"></i><span
                                            style="font-size: 30px; color: black;">{{post.price}}</span>
                                    </h6>
                                </div>

                                <form action="/buy-lesson" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{user_profile.user}}" name="buyer" hidden />
                                    <input type="hidden" value="{{post.id}}" name="post" hidden />



                                  

                                    <button type="submit" class="w-100 mt-4" style="border-radius: 0; border: 0;">
                                        <a href="/buy-lesson?post_id={{post.id}}" class="btn btn-success w-100"
                                            style="border-radius: 0;">
                                            <span style="font-size: 10px;"><i
                                                    class="fa fa-2x fa-money-bill mr-3"></i></span>Purchase</a>
                                    </button>



                                </form>


                              



                                <a href="/lessons" class="btn btn-dark w-100 mt-3" style="border-radius: 0;">
                                    <span style="font-size: 10px;"><i
                                            class="fa fa-solid fa-arrow-left mr-3"></i></span>Back</a>


                                <div>













                                </div>
                            </div>
                        </div>
                    </div>
                </div>

















            </div>
        </div>
    </div> -->


    <!-- Old End -->
    {% endif %}


















    {% endif %}


    {% if user_profile.premium == False %}
    <div class="container-fluid py-5">
        <div class="container py-5">

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5 text-center">
                        <div id="success"></div>

                        <p style="font-size: 23px;">You Must Be Premium User To View Activities</p>
                        <a href="get-premium" class="btn btn-success mt-3 w-100">Get Premium</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


</body>

{% endblock content %}