{% extends "base.html" %}
{% load static %}


{% block title%}Purchase Error{% endblock title %}


{% block content %}

<body>



    <div class="container-fluid py-5">
        <div class="container py-5">

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5 text-center">
                        <div id="success"></div>

                        <p style="font-size: 23px;">You Dont Have Enough Money To Purchase This Lesson</p>
                        <a href="/wallet/recharge" class="btn btn-success mt-3 w-100">Recharge Your Wallet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

















</body>

{% endblock content %}